<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">SIMs Media Reviews</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <% if (typeof displayName === 'string' && displayName) { %>

          <!-- 
            to have the welcome in thr navbar and the logout button on two different sides 
            we divide the code into 2 parts 
          -->
          
          <!-- WELCOME -->
          <li class="navbar-text me-3">
            <i class="fas fa-lg fa-user"></i>
            Welcome, <%= displayName %>
          </li>

          <!-- MEDIA -->
          <li class="nav-item">
            <a class="nav-link <%= title === 'Media' ? 'active' : '' %>" href="/">
              <i class="fa fa-star fa-lg"></i> Media
            </a>
          </li>

          <!-- this is to link the add a review page thats commented out for now cuz its messing up the login stuff
          <li class="nav-item">
            <% if (title == "Add Review") { %>
              <a class="nav-link active" aria-current="page" href="/media/add"><i class="fa-solid fa-plus"></i> Add Review</a>
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/media/add"><i class="fa-solid fa-plus"></i> Add Review</a>
            <% } %>
          </li>
          -->

          <!-- ABOUT -->
          <li class="nav-item">
            <a class="nav-link <%= title === 'About' ? 'active' : '' %>" href="/about">
              <i class="fa-solid fa-lg fa-circle-info"></i> About
            </a>
          </li>

          <!-- CONTACT -->
          <li class="nav-item">
            <a class="nav-link <%= title === 'Contact Us' ? 'active' : '' %>" href="/contactus">
              <i class="fa-solid fa-lg fa-phone"></i> Contact Us
            </a>
          </li>

          <!-- LOGOUT (right side) -->
          <li class="nav-item ms-lg-3">
            <a href="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout
            </a>
          </li>

        <% } else { %>

          <!-- USER LOGGED OUT: ONLY LOGIN -->
          <li class="nav-item">
            <a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login
            </a>
          </li>

        <% } %>

      </ul>
    </div>

  </div>
</nav>