<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="container py-4">
  <h1><%= title %></h1>

  <p>If you have any feedback, questions, or concerns, feel free to reach out to the SIM team.</p>
  <p>You can email us at:</p>

  <div class="contact-emails">
    <p><i class="fa-regular fa-envelope"></i> <a href="mailto:Shifa.faisal@ontariotechu.net">Shifa.faisal@ontariotechu.net</a></p>
    <p><i class="fa-regular fa-envelope"></i> <a href="mailto:Imama.meraj@ontariotechu.net">Imama.meraj@ontariotechu.net</a></p>
    <p><i class="fa-regular fa-envelope"></i> <a href="mailto:Mariosolundu.onyido@ontariotechu.net">Mariosolundu.onyido@ontariotechu.net</a></p>
  </div>

  <br> 
  <p><i class="fa-solid fa-location-dot"></i> 2000 Simcoe St N, Oshawa ON L1G0C5</p>

</div>

<%- include('partials/footer') %>