/* this is the global css file that will have most of the aesthetic elements
if some pages need the elements in other css files itll be specified
 the color scheme is as follows:
 #401014
 #591D28
 #8C3E4C
 #BF6071
 #BFAAAA
 white (if none of the other ones feel right)
 */

/* background of page */
body {
    background-color: #401014 !important;
}

/* ----------------------- TABLE FROM LIST.EJS ------------------*/

.table{
    width: 100% !important;
    
}

/* table header */
.table > thead > tr > th,
.table tr:first-child th {
    background-color:#591D28 !important;
    color: white;
}

/* table border */
.table-bordered {
    border-color: #591D28 !important;
    border-width: 80px;
}

/* regular row color */
.table-striped > tbody > tr > td {
    background-color: #BFAAAA !important;
}

/* hover row color */
.table-hover > tbody > tr:hover > td {
    background-color: #8C3E4C !important;
    color: white;
}

.table > thead > tr > th{
    background-color: #591D28;
    color: white;
}

/* the h1 title color */
h1 {
    color: white !important;
    font-weight: 800 !important;
    margin-top: 20px !important;
}

/* the edit button (primary) */
.btn-primary {
    background-color: #591D28  !important;
    border-color: #BFAAAA;
}
.btn-primary:hover {
    background-color: #8C3E4C !important;
    border-color: #BFAAAA !important;
} 

/* the delete button (danger) */
.btn-danger {
    background-color: #591D28  !important;
    border-color: #BFAAAA !important;
}
.btn-danger:hover {
    background-color: #8C3E4C !important;
}


/* --------------------- ADD/EDIT FORMS PAGES ------------------------ */






/* ---------------------- ABOUT page -----------------------------------*/





/* ---------------------- CONTACT page -----------------------------------*/